PORT=8000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

AUTH_SERVICE_URL=http://localhost:3001
BLOG_SERVICE_URL=http://localhost:3004
STORE_SERVICE_URL=http://localhost:4003
PRODUCT_SERVICE_URL=http://localhost:4002

REDIS_URL=redis://127.0.0.1:6379
